<header>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <h1>{{pageTitle}}</h1>
  <!-- <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/projects">Projects</a></p> -->
  <div>
    <ul class="k-menu__nav ">
      <li>
        <a href="/"><h4 class="k-menu__section-text">My Account</h4></a>
      </li>
      <li><a href="/profile" class="k-menu__link ">My Profile</a></li>
      <li><a href="/contacts" class="k-menu__link ">Contacts</a></li>
      <li><a href="/groups" class="k-menu__link ">Groups</a></li>
      <li><a href="/orders" class="k-menu__link ">Orders</a></li>
      <li >
        <h4 class="k-menu__section-text">Messaging</h4>
      </li>
      <li><a href="/send" class="k-menu__link ">Send</a></li>
      <li><a href="/custom" class="k-menu__link ">Custom</a></li>
      <li><a href="/sent" class="k-menu__link ">Sent</a></li>
      <li><a href="/scheduled" class="k-menu__link ">Scheduled</a></li>
    </ul>
  </div>
</header>
